@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

label {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 2rem;
  font-family:  'Tangerine', serif;
  transition: 0.5s;
}

a {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 2rem;
  font-family:  'Tangerine', serif;
  transition: 0.5s;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  text-align: center;
  background: linear-gradient(90deg, rgba(85, 127, 241, 0.5), rgba(102, 233, 238, 0.5));
}

main {
  padding: 36px;
  margin: 0 auto;
  max-width: 600px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right, rgba(183, 62, 240, 1), rgba(118, 121, 121, 1));
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  font-family: 'Roboto', sans-serif;
}

.form--input {
  font-family: 'Tangerine', serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #868585 100%);
  color: white;
  border: none;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90.41deg, #e3c5ec 1.14%, #868484 100%);
}


.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 100%;
}

.meme--image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.meme--text {
  position: absolute ;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.521);
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px rgb(25, 0, 255);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.meme--text.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.meme--text.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form--buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.form--buttons-container button {
  margin-top: 5px;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
